/*
Syntax error: File to import not found or unreadable: typography.
              Load paths:
                /Users/AGreen/freelance/wim.co/scss
                /Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets
                /Users/AGreen/freelance/wim.co/bower_components/foundation/scss
                Compass::SpriteImporter
        on line 3 of /Users/AGreen/freelance/wim.co/scss/app.scss

1: /Users/AGreen/freelance/wim.co/scss/app.scss

Backtrace:
/Users/AGreen/freelance/wim.co/scss/app.scss:3
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:95:in `block (4 levels) in perform'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:39:in `delete'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:32:in `block in deleted'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `each'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `deleted'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:16:in `refresh'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/AGreen/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: typography.\A               Load paths:\A                 /Users/AGreen/freelance/wim.co/scss\A                 /Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/AGreen/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/AGreen/freelance/wim.co/bower_components/foundation/scss\A                 Compass::SpriteImporter\A         on line 3 of /Users/AGreen/freelance/wim.co/scss/app.scss\A \A 1: /Users/AGreen/freelance/wim.co/scss/app.scss"; }
