/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*****************************************************************************/
/*
/* GLOBAL RESET
/*
/*****************************************************************************/
/* line 15, ../_sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 20, ../_sass/screen.scss */
html {
  width: 100%;
  min-height: 100%;
  background-color: #f4f4f4;
}

/* line 27, ../_sass/screen.scss */
body {
  font-family: 'Lucida Sans';
  font-size: 12pt;
  color: #666666;
  /* margin: 0 auto 100px; /* bottom = footer height */
}

/* line 34, ../_sass/screen.scss */
h1, h2, h3, h4 {
  color: #57267C;
}

/* line 36, ../_sass/screen.scss */
h1 {
  font-size: 2.157em;
  line-height: 2.618em;
}

/* line 41, ../_sass/screen.scss */
h2 {
  font-size: 1.618em;
  line-height: 2.157em;
}

/* line 46, ../_sass/screen.scss */
h3 {
  font-size: 1.333em;
  line-height: 1.618em;
}

/* line 51, ../_sass/screen.scss */
h4 {
  font-size: 1em;
  line-height: 1.333em;
  padding-bottom: 0.824em;
}

/* line 57, ../_sass/screen.scss */
h5 {
  font-size: 0.824em;
  line-height: 1.4em;
}

/* line 62, ../_sass/screen.scss */
h6 {
  font-size: 0.618em;
  line-height: 1.4em;
}

/*
h6 {
	font-size: 0.509em;
	line-height: 0.618em;
}
*/
/* line 73, ../_sass/screen.scss */
p {
  font-size: 1em;
  line-height: 1.333em;
  padding-bottom: 0.824em;
  color: #666666;
}

/* line 80, ../_sass/screen.scss */
a {
  text-decoration: none;
  color: #57267C;
}

/*****************************************************************************/
/*
/* COMMON 
/*
/*****************************************************************************/
/* line 91, ../_sass/screen.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 95, ../_sass/screen.scss */
header {
  border-bottom: 1px solid #663981;
  width: 100%;
  height: 125px;
  margin-bottom: 0;
}

/* line 102, ../_sass/screen.scss */
.alt-color {
  background-color: #fefefe;
  border-bottom: 1px solid #663981;
  border-top: 1px solid #663981;
}

/* line 108, ../_sass/screen.scss */
.logo {
  float: left;
}

/* line 112, ../_sass/screen.scss */
nav {
  display: block;
  padding: 20px 25px;
}
/* line 118, ../_sass/screen.scss */
nav ul {
  float: right;
  list-style-type: none;
}
/* line 122, ../_sass/screen.scss */
nav ul li {
  display: inline-block;
}
/* line 127, ../_sass/screen.scss */
nav img {
  width: 25px;
}

/* line 132, ../_sass/screen.scss */
.menu {
  display: block;
}
/* line 135, ../_sass/screen.scss */
.menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 141, ../_sass/screen.scss */
.menu ul li {
  margin-right: 2px;
  display: inline-block;
  position: relative;
}
/* line 147, ../_sass/screen.scss */
.menu ul li a {
  display: block;
  width: 5em;
  text-align: center;
  text-decoration: none;
  color: #777;
  padding: 10px 10px;
  position: relative;
  margin: 0 auto;
}
/* line 159, ../_sass/screen.scss */
.menu ul li a:hover {
  background-color: #f4f4f4;
  color: #666666;
}
/* line 165, ../_sass/screen.scss */
.menu ul li ul {
  display: none;
}
/* line 169, ../_sass/screen.scss */
.menu li:hover ul {
  display: block;
  position: absolute;
}
/* line 174, ../_sass/screen.scss */
.menu li:hover a {
  background-color: #ccc;
  color: #555;
}
/* line 179, ../_sass/screen.scss */
.menu li:hover li a:hover {
  background-color: #9738e0;
  color: #f4f4f4;
}

/* line 185, ../_sass/screen.scss */
main {
  background-color: #f7f7f7;
  width: 100%;
}

/* line 190, ../_sass/screen.scss */
.content {
  width: 75%;
  margin: 0 auto;
  padding-top: 50px;
}

/* line 197, ../_sass/screen.scss */
footer {
  background-color: #444;
  color: #aeaeae;
  position: relative;
  left: 0;
  bottom: 0;
  min-height: 100px;
  width: 100%;
  padding: 10px 0px;
}
/* line 210, ../_sass/screen.scss */
footer a {
  color: #a381c1;
}
/* line 212, ../_sass/screen.scss */
footer p {
  color: #d1d1d1;
}
/* line 214, ../_sass/screen.scss */
footer h6 {
  text-align: center;
}
/* line 216, ../_sass/screen.scss */
footer #footer-content {
  margin: 0 auto;
  width: 75%;
}

/*****************************************************************************/
/*
/* HOME
/*
/*****************************************************************************/
/* line 229, ../_sass/screen.scss */
section {
  margin: 0 auto;
}

/* line 233, ../_sass/screen.scss */
#intro {
  width: 50%;
  padding-bottom: 30px;
  margin: 0 auto;
}
/* line 239, ../_sass/screen.scss */
#intro h1 {
  text-align: center;
}
/* line 241, ../_sass/screen.scss */
#intro #dots {
  text-align: center;
  font-size: 2.157em;
  padding-bottom: 12px;
}
/* line 247, ../_sass/screen.scss */
#intro p {
  text-align: center;
}

/* line 250, ../_sass/screen.scss */
#spotlight {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

/* line 257, ../_sass/screen.scss */
#sponsors {
  width: 78%;
  margin: 0 auto;
  padding: 10px 0px;
}
/* line 263, ../_sass/screen.scss */
#sponsors img {
  width: 90px;
}
/* line 265, ../_sass/screen.scss */
#sponsors ul li {
  display: inline;
}
/* line 267, ../_sass/screen.scss */
#sponsors h5 {
  text-align: center;
}

/* line 270, ../_sass/screen.scss */
.highlight {
  width: 300px;
  height: 300px;
  background-color: #ebeaea;
  margin-bottom: 70px;
  -webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
  box-shadow: 0px 5px 5px 1px #d3d1d1;
}
/* line 279, ../_sass/screen.scss */
.highlight img {
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
  box-shadow: 0px 5px 5px 1px #d3d1d1;
}
/* line 286, ../_sass/screen.scss */
.highlight h4 {
  text-align: center;
  padding-top: 15px;
}

/* line 292, ../_sass/screen.scss */
#community {
  margin: 0 auto;
  padding: 10px 0px;
  width: 50%;
}
/* line 299, ../_sass/screen.scss */
#community h2 {
  text-align: center;
}
/* line 301, ../_sass/screen.scss */
#community .signup {
  display: inline-block;
  margin: 0 auto;
  background-color: #008B4C;
  padding: 5px 7px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #026d3b;
}

/*****************************************************************************/
/*
/*  ABOUT
/*
/*****************************************************************************/
/* line 318, ../_sass/screen.scss */
#founder-bio {
  margin: 0 auto;
  margin-bottom: 3em;
}
/* line 323, ../_sass/screen.scss */
#founder-bio img {
  max-width: 100%;
  float: right;
  padding-left: 5%;
}

/*****************************************************************************/
/*
/* MENTORS
/*
/*****************************************************************************/
/* line 336, ../_sass/screen.scss */
.content-masonry {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

/* line 343, ../_sass/screen.scss */
#mentors {
  margin: 0 auto;
  width: 93%;
}

/* line 349, ../_sass/screen.scss */
.mentor {
  width: 340px;
  height: 450px;
  background-color: #ebeaea;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
  box-shadow: 0px 5px 5px 1px #d3d1d1;
}
/* line 358, ../_sass/screen.scss */
.mentor img {
  width: 100%;
  height: 55%;
  -webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
  box-shadow: 0px 5px 5px 1px #d3d1d1;
}
/* line 367, ../_sass/screen.scss */
.mentor h3 {
  text-align: center;
  padding-top: 15px;
  color: #57267C;
}
/* line 373, ../_sass/screen.scss */
.mentor h3:after {
  content: "";
  margin: 5px auto 20px;
  display: block;
  width: 70px;
  height: 5px;
  background: #57267C;
}
/* line 382, ../_sass/screen.scss */
.mentor h5 {
  text-align: center;
  padding-top: 5px;
}

/*****************************************************************************/
/*
/* COMPANIES
/*
/*****************************************************************************/
/* line 395, ../_sass/screen.scss */
.company {
  margin-bottom: 10px;
}
/* line 399, ../_sass/screen.scss */
.company img {
  margin: 1em 0em;
}

/*****************************************************************************/
/*
/* BLOG
/*
/*****************************************************************************/
/* line 408, ../_sass/screen.scss */
.post {
  min-height: 200px;
  max-width: 81%;
  margin: 0 auto;
  padding-bottom: 1em;
}
/* line 416, ../_sass/screen.scss */
.post img {
  display: block;
  float: left;
  margin-right: 3em;
}

/*****************************************************************************/
/*
/* EVENTS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* PARTNERS
/*
/*****************************************************************************/
/* line 443, ../_sass/screen.scss */
#partners {
  width: 78%;
}

/* line 448, ../_sass/screen.scss */
.partner {
  width: 200px;
  height: 250px;
  margin-bottom: 10px;
}
/* line 454, ../_sass/screen.scss */
.partner img {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 40px 40px 20px 2px #aeaeae;
  box-shadow: 2px 2px 5px 3px #aeaeae;
}
/* line 462, ../_sass/screen.scss */
.partner h5 {
  text-align: center;
  padding-top: 5px;
}

/*****************************************************************************/
/*
/* MEDIA QUERIES
/*
/*****************************************************************************/
