/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*****************************************************************************/
/*
/* GLOBAL RESET
/*
/*****************************************************************************/
/* line 14, ../_sass/screen.scss */
html {
  background: #f8f8f8;
}

/* line 18, ../_sass/screen.scss */
body {
  font-size: 12pt;
}

/* line 23, ../_sass/screen.scss */
h1, h2, h3, h4, h5 {
  color: #5e2f7b;
}

/*****************************************************************************/
/*
/* 	COMMON
/*
/*****************************************************************************/
/* line 33, ../_sass/screen.scss */
header {
  background-color: #f8f8f8;
  padding: 1em 0em;
  border-bottom: 1pt solid #5e2f7b;
}

/* line 39, ../_sass/screen.scss */
.top-nav {
  padding: 0 1em 1em 0;
  color: #999;
  font-size: 1.875em;
}
/* line 44, ../_sass/screen.scss */
.top-nav a:hover {
  color: #5e2f7b;
}

/* line 47, ../_sass/screen.scss */
.inline-list li:last-child {
  padding-right: 0;
}

/* line 49, ../_sass/screen.scss */
.social-nav {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}

/* line 55, ../_sass/screen.scss */
.social-nav:hover {
  filter: none;
  -webkit-filter: none;
}

/* line 60, ../_sass/screen.scss */
main {
  background-color: #f8f8f8;
}

/* line 62, ../_sass/screen.scss */
footer {
  background-image: url("../img/backgrounds/map.png");
  min-height: 40em;
  text-align: right;
  color: #cecece;
  position: relative;
  width: 100%;
}
/* line 70, ../_sass/screen.scss */
footer h1, footer h6 {
  color: #cecece;
}

/* line 73, ../_sass/screen.scss */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 40em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 83, ../_sass/screen.scss */
section {
  background-color: #f8f8f8;
  border-bottom: 1pt solid #5e2f7b;
  padding: 1em 0em;
  text-align: center;
}
/* line 89, ../_sass/screen.scss */
section h5 {
  color: #5e2f7b;
  font-weight: bold;
}

/* line 95, ../_sass/screen.scss */
.section-content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: -1em 0em;
  color: #aeaeae;
  text-align: center;
}

/*****************************************************************************/
/*
/* HOME
/*
/*****************************************************************************/
/* line 108, ../_sass/screen.scss */
.top-section {
  min-height: 35em;
}
/* line 111, ../_sass/screen.scss */
.top-section h1 {
  color: #dedede;
  font-size: 5em;
}
/* line 116, ../_sass/screen.scss */
.top-section p {
  font-size: 2em;
}

/* line 119, ../_sass/screen.scss */
.home-section {
  min-height: 41em;
}
/* line 122, ../_sass/screen.scss */
.home-section h1 {
  color: #dedede;
  font-size: 5em;
}
/* line 127, ../_sass/screen.scss */
.home-section p {
  font-size: 2em;
}

/* line 130, ../_sass/screen.scss */
.tagline {
  background-image: url("../img/backgrounds/photo1.jpg");
}

/* line 132, ../_sass/screen.scss */
.ecosystem {
  background-image: url("../img/backgrounds/photo2.jpg");
}
/* line 135, ../_sass/screen.scss */
.ecosystem .button {
  background-color: #5e2f7b;
  font-size: 1.5em;
  margin-right: 0.5em;
}

/* line 142, ../_sass/screen.scss */
.highlight {
  width: 75%;
  margin: 0 auto;
  padding: 1.5em 0em;
}
/* line 147, ../_sass/screen.scss */
.highlight p {
  font-size: 14px;
}

/* line 150, ../_sass/screen.scss */
.hborders {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

/* line 156, ../_sass/screen.scss */
.sponsors h1 {
  font-size: 5em;
  color: #5e2f7b;
  margin-top: -0.2em;
}
/* line 162, ../_sass/screen.scss */
.sponsors img {
  width: 150px;
}

/*****************************************************************************/
/*
/* ABOUT
/*
/*****************************************************************************/
/* line 171, ../_sass/screen.scss */
.about {
  background-image: url("../img/backgrounds/photo3.jpg");
}
/* line 174, ../_sass/screen.scss */
.about h1, .about p {
  color: #d0d0d0;
}

/*****************************************************************************/
/*
/* MENTORS
/*
/*****************************************************************************/
/* line 184, ../_sass/screen.scss */
.mentor {
  width: 300px;
  height: 400px;
  background-color: #ebeaea;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 3px 3px 1px #d3d1d1;
  box-shadow: 0px 3px 3px 1px #d3d1d1;
}
/* line 193, ../_sass/screen.scss */
.mentor img {
  width: 100%;
  height: 55%;
  -webkit-box-shadow: 0px 1px 1px 1px #d3d1d1;
  box-shadow: 0px 1px 1px 1px #d3d1d1;
}
/* line 201, ../_sass/screen.scss */
.mentor h3:after {
  content: "";
  margin: 5px auto 20px;
  display: block;
  width: 70px;
  height: 5px;
  background: #57267C;
}

/*****************************************************************************/
/*
/* COMPANIES
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* ABOUT
/*
/*****************************************************************************/
/* line 225, ../_sass/screen.scss */
.faq {
  background-image: url("../img/backgrounds/photo3.jpg");
}
/* line 228, ../_sass/screen.scss */
.faq h1, .faq p {
  color: #d0d0d0;
}

/*****************************************************************************/
/*
/* BLOG
/*
/*****************************************************************************/
/* line 237, ../_sass/screen.scss */
.blog {
  background-image: url("../img/backgrounds/photo3.jpg");
}
/* line 240, ../_sass/screen.scss */
.blog h1, .blog p {
  color: #d0d0d0;
}

/* line 243, ../_sass/screen.scss */
.post {
  padding: 1em 0em;
}

/*****************************************************************************/
/*
/* EVENTS
/*
/*****************************************************************************/
/* line 253, ../_sass/screen.scss */
.events {
  background-image: url("../img/backgrounds/photo3.jpg");
}
/* line 256, ../_sass/screen.scss */
.events h1, .events p {
  color: #d0d0d0;
}

/*****************************************************************************/
/*
/* PARTNERS
/*
/*****************************************************************************/
/* line 265, ../_sass/screen.scss */
#partners {
  margin-left: 3em;
}

/* line 267, ../_sass/screen.scss */
.partner {
  width: 190px;
  height: 250px;
  margin-bottom: 10px;
}
/* line 272, ../_sass/screen.scss */
.partner img {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 15px 15px 15px 2px #aeaeae;
  box-shadow: 1px 1px 3px 2px #aeaeae;
}
