@import url("http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
/* line 4, ../scss/typography.scss */
html {
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
}

/* line 9, ../scss/typography.scss */
body {
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
}

/* line 14, ../scss/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

/* line 19, ../scss/typography.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 24, ../scss/typography.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 29, ../scss/typography.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 34, ../scss/typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 39, ../scss/typography.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 44, ../scss/typography.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 49, ../scss/typography.scss */
p {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  line-height: 1.214em;
}
