// @import "settings";
@import "foundation";
@import "typography";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


//////////////////////////////////////////////////////
// GLOBAL & SHARED
//////////////////////////////////////////////////////

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}

a { color: #9A04C7; }
a:hover { color: #670585; }

.button  {
	background-color: #670585;
	&:hover {
		background-color: darken(#670585, 10%);
	}
}

#main-wrapper {
	height: 100%;
}

.top-bar {
	background-color: #670585;
}

// to get the .right li color change
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #670585;
	&:hover {
		background-color: darken(#670585, 10%);
	}
}

.name {
	padding-top: 0.2em;

	a, a:hover{ color: #fff; }

	p {
		vertical-align: middle;
		display: inline;
		font-size: 1.563em;
	}
}

#logo {
	padding-top: 0.2em;
}

.mini-footer {
	text-align: center;
	padding: 1em;
	background-color: #502472;
	color: #ccc;
	font-size: 10px;
}

.text-justify {
	text-align: justify;
}

.gray { color: #ccc; }

.white { color: #fff; }

.purple { color: #670585; }



//////////////////////////////////////////////////////
// HOMEPAGE
//////////////////////////////////////////////////////

.splash {
	min-height: 100%;
	background-image: url('../img/backgrounds/femalefounders1.jpg');
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position-x: center;
	text-align: center;
	box-shadow: 0 2px 9px 0 #333;

	.row { padding: 15em 0; }
}

#tag {
	h2 { color: #fefefe; }
}

.main-section {
	min-height: 95%;
}

.main-section-small {
	min-height: 60%;

}

#highlights {
	padding-top: 3em;
}

.series {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2em;

	img {
		width: 150px;
		margin: 0 auto;
		display: block;
	}

	.content {
		padding-top: 0.5em;
		max-width: 75%;
		margin: 0 auto;
		text-align: center;

		h4 { text-align: center; }
	}
}

@media(min-width:550px) {
	.series {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 1em;

		img {
			float: left;
			padding-right: 1em;
			display: inline-block;
			width: 175px;
		}

		.content {
			padding-top: 0;
			max-width: 100%;
			// margin: 0 auto;
			text-align: left;

			h4 { text-align: left; }
		}
	}
}

#ecosystem {
	background-image: url('../img/backgrounds/nyc.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	box-shadow: 0 2px 13px 3px #333;
}

#eco-content {
	margin: 0 auto;
	margin-top: 3em;
	background-color: rgba(0,0,0,0.5);
	max-width: 75%;
	border-radius: 1em;
	padding: 3px 15px 3px 15px;
	color: #ccc;

	.button {
		max-width: 15em;
		display: block;
		margin: 0 auto;
		margin-bottom: 2em;
	}
}

#blog {
	padding-top: 3em;
	text-align: center;

	img {
		height: 200px;
	}

	h5 {
		padding-top: 1em;
	}
}

.blog {
	max-width: 300px;
	margin: 0 auto;
}

#sponsors {
	box-shadow: 0 2px 13px 3px #333;
	padding-top: 3em;
	min-height: 80%;
}

.sponsors { margin-bottom: 6em; }

.sponsor {
	display: inline-block;
	margin: 0 auto;
	margin-left: 1em;
	margin-right: 1em;
	width: 150px;
}

#potential {
	color: #555;
}

footer {
	position: relative;
	min-height: 50%;
	// background-color: #000;
	background-color: darken(#670585, 10%);
	color: #bbb;
	text-align: right;
}

.sm-color {
	padding-left: 4em;
	float: right;
	padding-right: 0.7em;

	li {
		margin: 0;
		padding-left: 7px;
	}
}

#address {
	list-style-type: none;
}

footer span {
  position: absolute;
	bottom: 0;
	left: 5%;
	font-size: 0.666em;
	text-align: left;
	padding-bottom: 1em;
}

//////////////////////////////////////////////////////
// ABOUT
//////////////////////////////////////////////////////

.founder-bio {
	img {
		padding-top: 1em;
	}
}

//////////////////////////////////////////////////////
// MENTORS
//////////////////////////////////////////////////////

#mentors {
	margin: 0 auto;
}

.mentor {
	width: 320px;
	height: 400px;
	margin-bottom: 30px;
}

.mentor-content {
	width: 300px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
	background-color: #ebeaea;

	-webkit-box-shadow: 0px 0px 1px 0px #d3d1d1;
	box-shadow: 0px 0px 1px 0px #d3d1d1;

	img {
		width:  100%;
		height: 55%;
	}

	h3:after {
		content: "";
		margin: 5px auto 20px;
		display: block;
		width: 70px;
		height: 5px;
		background: #57267C;
	}
}

//////////////////////////////////////////////////////
// PORTFOLIO
//////////////////////////////////////////////////////

#portfolio {
	min-height:90%;
}

#ag-logo {
	padding-top: 2em;
	padding-bottom: 6em;
}

#ldly-logo {
	padding-bottom: 6em;
}

#sqlv-logo {
	padding-bottom: 2em;
}

/* INSIDE THE PORTFOLIO LINKS */

.companies {
	display:block;
	min-height: 90%;

	img {
		padding: 1em 0;
	}
}

//////////////////////////////////////////////////////
// BLOG
//////////////////////////////////////////////////////

#blogpost {
	margin-bottom: 3em;

	img {  //images should be 300x250 ratio
		width: 100%;
	}
}

.next {
	float: right;
}

//////////////////////////////////////////////////////
// PARTNERS
//////////////////////////////////////////////////////

#partners {
	margin: 0 auto;
}

.partner {
	width: 200px;
	height: 200px;

	img {
		width: 150px;
		height: 150px;
		margin: 0 auto;
		display: block;
		margin-top: 1em;
	}
}
