<footer>
    <div class="row">
      <div class="small-12 columns">
        <h1 class="gray big-font contact-footer">Get In Touch</h1>

        <div class="row">
          {% include social-media-color.html %}
        </div>

        <ul id="address">
          <li>Grind Spaces</li>
          <li>1412 Broadway, fl 22</li>
          <li>New York, NY 10018</li>
        </ul>
      </div>
    </div>

    <span>COPYRIGHT &copy; 2014, WOMEN INNOVATE MOBILE (WIM) ACCELERATOR, ALL RIGHTS RESERVED.</span>
</footer>

 <div id = "map-canvas">
  </div>