<div class="row">
	<div class="small-12 large-12 columns">
		<h1 style="font-size: 5em;">GET IN TOUCH</h1>
		
    <div class="row"> 
      <div style="float: right; padding-right: 1em;"> 
       {% include social-media-footer.html %} 
      </div>
    </div>

    <!-- <p>Shala AT wim DOT co</p> -->
    <div>
      <p>Grind Spaces</p>
      <p>1412 Broadway, Floor 22</p>
      <p>New York, NY 10018</p>
    </div>
	</div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <h6 style="text-align: left; /*position:absolute; bottom:0; left:0; padding-left: 1em;*/">
        COPYRIGHT &copy; 2013, WOMEN INNOVATE MOBILE (WIM) ACCELERATOR, ALL RIGHTS RESERVED.</h6>
    </div>
  </div>
</div>