<footer id="map">
  <div class="row">
    <div class="small-12 columns">
      <h1>Get In Touch</h1>

      <div class="row">
        <!-- <div> -->
          {% include social-media-color.html %}
        <!-- </div> -->
      </div>

      <ul id="address">
        <li>Grind Spaces</li>
        <li>1412 Broadway, fl 22</li>
        <li>New York, NY 10018</li>
      </ul>
    </div>
  </div>

  <span>COPYRIGHT &copy; 2014, WOMEN INNOVATE MOBILE (WIM) ACCELERATOR, ALL RIGHTS RESERVED.</span>
</footer>

