<nav class="top-bar" data-topbar data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Women Innovate Mobile</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">ACCELERATOR</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/accelerate/about.html">About</a></li>
          <li><a href="http://www.f6s.com/womeninnovatemobile2014#/apply">Apply</a></li>
          <li><a href="{{ site.baseurl }}/accelerate/mentors.html">Mentors</a></li>
          <li><a href="{{ site.baseurl }}/accelerate/companies.html">Companies</a></li>
          <li><a href="{{ site.baseurl }}/accelerate/faq.html">FAQs</a></li>
        </ul>
      </li> <!-- class="has-dropdown"> -->
      <li>
        <a href="{{ site.baseurl }}/blog/index.html">BLOG</a>
        <!-- If blog ever becomes a dropdown
        <a href="#">BLOG</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/blog/index.html">First link in dropdown</a></li>
        </ul>
        -->
      </li>
      <li class="has-dropdown">
        <a href="#">ECOSYSTEM</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/integrate/events.html">Events</a></li>
          <li><a href="{{ site.baseurl }}/integrate/partners.html">Partners</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>