<nav>
  <ul class="inline-list">
    <li>
      <a href="https://twitter.com/WIMAccelerator">
        <img src="{{ site.baseurl }}/img/social-media/twttr-logo.png" width="25">
      </a>
    </li>
    
    <li>
      <a href="https://plus.google.com/+WimCoAccelerator">
        <img src="{{ site.baseurl }}/img/social-media/g-plus-logo.png" width="25">
      </a>
    </li>
    
    <li>
      <a href="http://www.youtube.com/user/womeninnovatemobile">
        <img src="{{ site.baseurl }}/img/social-media/youtube-logo.png" width="25">
      </a>
    </li>
    
    <li>
      <a href="https://www.facebook.com/WomenInnovateMobile">
        <img src="{{ site.baseurl }}/img/social-media/fb-logo.png" width="25">
      </a>
    </li>
    
    <li>
      <a href="http://www.linkedin.com/company/women-innovate-mobile-wim-accelerator">
        <img src="{{ site.baseurl }}/img/social-media/linkedin-logo.png" width="25">
      </a>
    </li>
  </ul>
</nav>    