<ul class="inline-list">
  <li>
    <a href="https://twitter.com/WIMAccelerator">
      <img src="{{ site.baseurl }}/img/social-media/custom-twitter.png" width="30" class="social-nav">
    </a>
  </li>

  <li>
    <a href="https://plus.google.com/+WimCoAccelerator">
      <img src="{{ site.baseurl }}/img/social-media/custom-g+.png" width="30" class="social-nav">
    </a>
  </li>

  <li>
    <a href="http://www.youtube.com/user/womeninnovatemobile">
      <img src="{{ site.baseurl }}/img/social-media/custom-youtube.png" width="30" class="social-nav">
    </a>
  </li>

  <li>
    <a href="https://www.facebook.com/WomenInnovateMobile">
      <img src="{{ site.baseurl }}/img/social-media/custom-fb.png" width="30" class="social-nav">
    </a>
  </li>

  <li>
    <a href="http://www.linkedin.com/company/women-innovate-mobile-wim-accelerator">
      <img src="{{ site.baseurl }}/img/social-media/custom-linkedin.png" width="30" class="social-nav">
    </a>
  </li>
</ul>