<nav>
  <ul class="inline-list">

    <li>
      <a href="mailto:info@wim.co">
        <img src="{{ site.baseurl }}/img/social-media/gmail.png">
      </a>
    </li>

    <li>
      <a href="https://twitter.com/WIMAccelerator">
        <img src="{{ site.baseurl }}/img/social-media/twitter.png">
      </a>
    </li>

    <li>
      <a href="https://plus.google.com/+WimCoAccelerator">
        <img src="{{ site.baseurl }}/img/social-media/gplus.png">
      </a>
    </li>

    <li>
      <a href="http://www.youtube.com/user/womeninnovatemobile">
        <img src="{{ site.baseurl }}/img/social-media/youtube.png">
      </a>
    </li>

    <li>
      <a href="https://www.facebook.com/WomenInnovateMobile">
        <img src="{{ site.baseurl }}/img/social-media/facebook.png">
      </a>
    </li>

    <li>
      <a href="http://www.linkedin.com/company/women-innovate-mobile-wim-accelerator">
        <img src="{{ site.baseurl }}/img/social-media/linkedin.png">
      </a>
    </li>
  </ul>
</nav>