/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

/*****************************************************************************/
/*
/* GLOBAL RESET
/*
/*****************************************************************************/

html { 
	background: #f8f8f8; 
}

body {	
	font-size: 12pt; 

}

h1, h2, h3, h4, h5 { 
	color: #5e2f7b; 
}

/*****************************************************************************/
/*
/* 	COMMON
/*
/*****************************************************************************/

header {
	background-color: #f8f8f8;
	padding: 1em 0em;
	border-bottom: 1pt solid #5e2f7b;
}

.top-nav{ 
	padding: 0 1em 1em 0;
	color: #999;
	font-size: 1.250em;

	a:hover { color: #5e2f7b; }
}

.inline-list{ li:last-child{ padding-right: 0; } }

main { background-color: #f8f8f8; }

footer {
	background-image: url('../img/backgrounds/map.png');
	min-height: 32.813em;
	text-align: right;
	color: #cecece;
	position: relative; 
  width: 100%;

  h1, h6 { color: #cecece; }
}

.footer {
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 32.813em;
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  	
}

section {
	background-color: #f8f8f8;
	border-bottom: 1pt solid #5e2f7b;
	padding: 1em 0em;
	text-align: center;

	h5 { 
		color: #5e2f7b; 
		font-weight: bold;
	}
}

.section-content {
	background-color: rgba(0, 0, 0, 0.5);
	margin: -1em 0em;
	color: #aeaeae;
	text-align: center;
}

/*****************************************************************************/
/*
/* HOME
/*
/*****************************************************************************/

.home-section { 
	min-height: 35em; 

	h1 { 
		color: #bebebe; 
		font-size: 5em; 
	}

	p { font-size: 2em; }
}

.tagline { background-image: url('../img/backgrounds/photo2.jpg'); }

.ecosystem { 
	background-image: url('../img/backgrounds/photo1.jpg'); 

	.button { 
		background-color: #5e2f7b; 
		font-size: 1.5em;
		margin-right: 0.5em;
	}
}

.sponsors { 
	h1 { 
		font-size: 5em; 
		color: #5e2f7b;	
		margin-top: -0.2em;
	}

	img { width: 150px; } 
}

/*****************************************************************************/
/*
/* ABOUT
/*
/*****************************************************************************/

.about { 
	background-image: url('../img/backgrounds/photo3.jpg'); 

	h1, p { color: #d0d0d0; }

}

/*****************************************************************************/
/*
/* MENTORS
/*
/*****************************************************************************/

.mentor {
	width: 300px;
	height: 400px;
	background-color: #ebeaea;
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 3px 3px 1px #d3d1d1;
	box-shadow: 0px 3px 3px 1px #d3d1d1;

	img {
		width:  100%;
		height: 55%;

		-webkit-box-shadow: 0px 1px 1px 1px #d3d1d1;
		box-shadow: 0px 1px 1px 1px #d3d1d1;
	}

	h3:after {
		content: "";
		margin: 5px auto 20px;
		display: block;
		width: 70px;
		height: 5px;
		background: #57267C;
	}
}

/*****************************************************************************/
/*
/* COMPANIES
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* ABOUT
/*
/*****************************************************************************/

.faq { 
	background-image: url('../img/backgrounds/photo3.jpg'); 

	h1, p { color: #d0d0d0; }
}

/*****************************************************************************/
/*
/* BLOG
/*
/*****************************************************************************/

.blog { 
	background-image: url('../img/backgrounds/photo3.jpg'); 

	h1, p { color: #d0d0d0; }
}

.post {
	padding: 1em 0em;
}

/*****************************************************************************/
/*
/* EVENTS
/*
/*****************************************************************************/

.events { 
	background-image: url('../img/backgrounds/photo3.jpg'); 

	h1, p { color: #d0d0d0; }
}

/*****************************************************************************/
/*
/* PARTNERS
/*
/*****************************************************************************/

#partners { margin-left: 3em; }

.partner {
	width: 190px;
	height: 250px;
	margin-bottom: 10px;

	img {
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;

		-webkit-box-shadow: 15px 15px 15px 2px #aeaeae;
		box-shadow: 1px 1px 3px 2px #aeaeae;
	}
}


