/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";


/*****************************************************************************/
/*
/* GLOBAL RESET
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html {
  // position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #f4f4f4;
}

body { 
	font-family: 'Lucida Sans';
	font-size: 12pt;
	color: #666666;
  /* margin: 0 auto 100px; /* bottom = footer height */
}

h1, h2, h3, h4 { color: #57267C; }

h1 {
	font-size: 2.157em;
	line-height: 2.618em;
}

h2 {
	font-size: 1.618em;
	line-height: 2.157em;
}

h3 {
	font-size: 1.333em;
	line-height: 1.618em; 
}

h4 {
	font-size: 1em;
	line-height: 1.333em; 
	padding-bottom: 0.824em;
}

h5 {
	font-size: 0.824em;
	line-height: 1.4em; 
}

h6 {
	font-size: 0.618em;
	line-height: 1.4em;
}
/*
h6 {
	font-size: 0.509em;
	line-height: 0.618em;
}
*/

p {
	font-size: 1em;
	line-height: 1.333em;
	padding-bottom: 0.824em;
	color: #666666;
}

a {
	text-decoration: none; 
	color: #57267C;
}

/*****************************************************************************/
/*
/* COMMON 
/*
/*****************************************************************************/

.container {
	width: 100%;
	height: 100%;
}
header{
	border-bottom: 1px solid #663981;
	width: 100%;
	height: 125px;
	margin-bottom: 0;
}

.alt-color {
	background-color: #fefefe;
	border-bottom: 1px solid #663981;
	border-top: 1px solid #663981;
}

.logo {
	float: left;
}

nav {
	display: block;
	//padding: 20px 25px 20px 0px;

	padding: 20px 25px;

	ul { 
		float: right;
		list-style-type: none;

		li { 
			display: inline-block; 
		}
	}

	img {
		width: 25px;
	}
}

.menu {
	display: block;

	ul {
		margin: 0;
		padding: 0;
		float: right;
		//background-color: #edbdbd;
	
		li {
	//		background-color: #edbdbd;
			margin-right: 2px;
			display: inline-block;
			position: relative;

			a { 
			 	display:block;
				width: 5em;
				text-align: center;
				text-decoration: none;
				color: #777;
				//padding: 20px 30px 20px 15px;
				padding: 10px 10px;
				position:relative;
				margin: 0 auto;
			}

			a:hover { 
				background-color: #f4f4f4;
				color: #666666;
				//border-bottom: 2px solid #9738e0; //#57267C;
			}

			ul { display: none; }
		}
	}

	li:hover ul {
		display: block;
		position: absolute;
	}

	li:hover a { 
		background-color: #ccc; //main
		color: #555; //#f4f4f4;
	}

	li:hover li a:hover { 
		background-color: #9738e0;   // submenu highlight
		color: #f4f4f4;
	}
}

main {
	background-color: #f7f7f7;
	width: 100%;
}

.content { 
	// background-color: #feffef;
	width: 75%;
	margin: 0 auto;
	padding-top: 50px;
}

.footer {	
	background-image: url('../img/backgrounds/map.png');
	min-height: 350px;
	text-align: right;
	color: #f2f2f2;
	position: relative;
	font-size: 15pt; 
  width: 100%;

	a { color: #a381c1; }
	
	h5 {
		bottom: 0; 
		left: 0;
		text-align: center; 
		font-weight: normal;
		display: block;
		margin: 0 auto; 
	}

	.footer-content { 
		background-color: rgba(0, 0, 0, 0.7);
		min-height: 350px;
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
	}

	ul {

		li {
			display: inline; 
			border-right: 1px solid #f7f7f7; 
			padding-right: 5px; 
			margin-right: 3px; 
		}

		li:first-child { 
			border-right: none; 
			margin-right: 10px; 
		}

		li:last-child { 
			border-right: none; 
		}

	}

	.social-media-footer {

		text-align: center; 
		margin: 0 auto; 

		ul {
			margin: 0 auto; 
			// background-color: #ede0b4;
			li {
				display: inline;
				border-right: none; 
				padding-right: 20px; 
			}
		}
	}


}


/*****************************************************************************/
/*
/* HOME
/*
/*****************************************************************************/

section {
	margin: 0 auto;
}

.huge { min-height: 500px; }

#intro {
	//background-color: #f9ebb6;
	width: 50%;
	padding-bottom: 30px; 
	margin: 0 auto;

	h1 { text-align: center; }

	#dots {
		text-align: center; 
		font-size: 2.157em; 
		padding-bottom: 12px;
	}

	p { text-align: center; }
}

.no-border {border-top: none; }

#spotlight{
	//background-color: #f9ebb6;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
}

#sponsors{
	//background-color: #f9ebb6;
	width: 78%;
	margin: 0 auto;
	padding: 10px 0px;

	img { width: 90px; }

	ul { li { display: inline; } }

	h5 { text-align: center; }
}

.highlight {
	width: 300px;
	height: 300px;
	background-color: #ebeaea;
	margin-bottom: 70px;

	-webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
	box-shadow: 0px 5px 5px 1px #d3d1d1;

	img {
		width:  100%;

		-webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
		box-shadow: 0px 5px 5px 1px #d3d1d1;
	}

	h4 {
		text-align: center;
		padding-top: 15px;
	}
}

#community {
	// background-color: #fede54;
	margin: 0 auto;
	padding: 10px 0px;
	width: 50%;


	h2 { 	text-align: center; } 

	.signup {
		display: inline-block;
		margin: 0 auto;
		background-color: #008B4C;
		padding: 5px 7px;
		font-size: 16px;
		border-radius: 5px;
		border-color: #026d3b;
	}
}

/*****************************************************************************/
/*
/*  ABOUT
/*
/*****************************************************************************/

#founder-bio {
	//background-color: #fee3ee;
	margin: 0 auto;
	margin-bottom: 3em;

	img {
		max-width: 100%;
		float: right;
		padding-left: 5%;
	}
}

/*****************************************************************************/
/*
/* MENTORS
/*
/*****************************************************************************/

.content-masonry { 
	// background-color: #feffef;
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
}

#mentors {
	// background-color: #343432;
	margin: 0 auto;
	width: 93%;
}

.mentor {
	width: 340px;
	height: 450px;
	background-color: #ebeaea;
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
	box-shadow: 0px 5px 5px 1px #d3d1d1;

	img {

		width:  100%;
		height: 55%;

		-webkit-box-shadow: 0px 5px 5px 1px #d3d1d1;
		box-shadow: 0px 5px 5px 1px #d3d1d1;
	}

	h3 { 
		text-align: center; 
		padding-top: 15px;
		color: #57267C;
	}

	h3:after {
		content: "";
		margin: 5px auto 20px;
		display: block;
		width: 70px;
		height: 5px;
		background: #57267C;
	}

	h5 { 
		text-align: center; 
		padding-top: 5px;
	}
}


/*****************************************************************************/
/*
/* COMPANIES
/*
/*****************************************************************************/

.company {
	//background-color: #987789;
	margin-bottom: 10px;

	img { margin: 1em 0em;}
}

/*****************************************************************************/
/*
/* BLOG
/*
/*****************************************************************************/

.post {
	//background-color: #9ef9ef;
	//border: 1px solid #000;
	min-height: 200px;
	max-width: 81%;
	margin: 0 auto;
	padding-bottom: 1em;

	img {
		display: block; 
		float: left;
	//	background-color: #666;
		margin-right: 3em;
	}

	div {
	//	background-color:  #aeaeae;
	//	max-width: 75%;
	}
}

/*****************************************************************************/
/*
/* EVENTS
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* PARTNERS
/*
/*****************************************************************************/

#partners {
	//background-color: #efb3b3;
	width: 78%;
}

.partner {
	width: 200px;
	height: 250px;
	// background-color: #fff;
	margin-bottom: 10px;

	img {
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;

		-webkit-box-shadow: 40px 40px 20px 2px #aeaeae;
		box-shadow: 2px 2px 5px 3px #aeaeae;
	}

	h5 { 
		text-align: center; 
		padding-top: 5px;
	}
}


/*****************************************************************************/
/*
/* MEDIA QUERIES
/*
/*****************************************************************************/






