<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
	</head>
	<body>
	  <div id="main-wrapper">

		{% include header.html %}

		{{ content }}

		{% include minifooter.html %}

	  </div><!---/main-wrapper-->
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/waypoints.min.js"></script>
	  <script src="{{ site.baseurl }}/js/jquery.stellar.min.js"></script>
	  <script src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
	  <script src="{{ site.baseurl }}/bower_components/jquery/jquery.js"></script>
	  <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
	  <script src="{{ site.baseurl }}/bower_components/modernizr/modernizr.js"></script>
	  <script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
	  <script src="{{ site.baseurl }}/js/app.js"></script>
	</body>
</html>
