<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
				
				<!-- SCSS, baby! -->
				<link rel="stylesheet" type='text/css' href="/css/screen.css">

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>
    <body>

      <div class="container">

        <header class="alt-color-dark">
          <a href="{{ site.baseurl }}/index.html"><img class="logo" src="{{ site.baseurl }}/img/logo/logo2.png" width="250"></a>
          <nav>
            <!-- THE OLD LINKS
            <ul>
              <li><a href="{{ site.baseurl }}/accelerate/index.html">Accelerate.</a></li>
              <li><a href="{{ site.baseurl }}/blog/index.html">Contemplate.</a></li>
              <li><a href="{{ site.baseurl }}/integrate/index.html">Integrate.</a></li>
            <ul>
            -->

            <ul id="dropdown">
              <li>
                <a href="#">Accelerate.</a>
                <ul>
                  <li><a href="{{ site.baseurl }}/accelerate/about.html">About</a></li>
                  <li><a href="http://www.f6s.com/womeninnovatemobile2014#/apply">Apply</a></li>
                  <li><a href="{{ site.baseurl }}/accelerate/mentors.html">Mentors</a></li>
                  <li><a href="{{ site.baseurl }}/accelerate/companies.html">Companies</a></li>
                </ul>
              </li>
              
              <li>
                <a href="#">Contemplate.</a>
                <ul>
                  <li><a href="{{ site.baseurl }}/blog/.html">Blog</a></li>
                </ul>
              </li>

              <li>
                <a href="#">Integrate.</a>
                <ul>
                  <li><a href="{{ site.baseurl }}/integrate/events.html">Events</a></li>
                  <li><a href="{{ site.baseurl }}/integrate/partners.html">Partners</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </header>

        <main>  
            {{ content }}
        </main>

        <footer>
          <h6>COPYRIGHT © 2013, WOMEN INNOVATE MOBILE (WIM) ACCELERATOR, ALL RIGHTS RESERVED.</h6>
        </footer>

      </div> <!-- /container -->

      <script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
      <script src="{{ site.baseurl }}/js/scripts.js"></script>

    </body>
</html>
