<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css">
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.css">
      <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css"> -->

      <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

      <script src="{{ site.baseurl }}/js/vendor/custom.modernizr.js"></script>
  </head>

  <body>
    <header> 
      <div class="row"> 
        <div class="small-12 medium-5 medium-offset-7 large-4 large-offset-8 columns">
          {% include social-media.html %}
        </div>
      </div>

      {% include nav.html %}
    </header>

    <!-- How to use foundation to get image to position like this? What to do for mobile view? -->
    <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/logo/circle-logo.png" style=" float: left; margin: -6em 0 -4em -0.4em; width: 250px; /*background-color: #ee88ee;*/" ></a>
    
    <main>
      {{ content }}
    </main>

    <footer>
      <div class="footer">
        {% include footer.html %}
      </div>
    </footer>

    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery-slider.js"></script>
    <script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
